:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-whitesmoke: hsl(0, 0%, 96%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-orange: hsl(41, 100%, 51%);
  --clr-yellow: hsl(48, 100%, 51%);
  --clr-turqouise: hsl(157, 52%, 46%);
  --clr-green-light: hsl(92, 69%, 62%);
  --clr-red: hsl(345, 78%, 53%);
  --clr-red-orange: hsl(357, 100%, 67%);
}
