@use '../util' as u;

.nav {
  padding-inline: u.rem(20);

  &__logo-wrapper {
    width: u.rem(52);
    height: auto;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  font-size: u.rem(25);
}

.login {
  display: flex;
  gap: u.rem(15);
  align-items: center;

  &__input {
    width: u.rem(120);
    text-align: center;
    border: 1px solid var(--clr-white);
    border-radius: 100px;
    font-size: u.rem(17);
    padding: u.rem(10);
    transition: all 0.2s linear;

    &::placeholder {
      text-align: center;
      color: hsl(0, 0%, 73%);
    }

    &:focus {
      outline: none;
      border: 1px solid hsl(0, 0%, 80);
    }
  }

  &__btn {
    border: none;
    font-size: u.rem(30);
    background-color: transparent;
    transition: all 0.2s linear;

    &:hover {
      color: hsl(0, 0%, 47%);
    }
  }
}
