@use '../util' as u;

.operation {
  &--transfer {
    background: linear-gradient(var(--clr-yellow), var(--clr-orange));
  }

  &--loan {
    background: linear-gradient(var(--clr-green-light), var(--clr-turqouise));
  }

  &--close {
    background: linear-gradient(var(--clr-red), var(--clr-red-orange));
  }
}
